<!DOCTYPE html>
<html>

<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

  <!-- <link rel="shortcut icon" href="/static/images/lstm.ico"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">

    {% block content %}

    <form method=post>
      <div id="main_body">
          <div id="header">
              <p>Covid-19 Case Severity</p>
          </div>

          <div id="block">
              <div id="info_side">
                <div id="info_side_container">

                  <h1 id="general_info">General Information:</h1>
                  <div>
                      {{ form.sex.label }}
                      {{ form.sex }}
                  </div>
                  <div>
                      {{ form.intubed.label }}
                      {{ form.intubed }}
                  </div>
                  <div>
                      {{ form.age.label }}
                      {{ form.age }}
                  </div>
                  <div>
                      {{ form.days_to_med.label }}
                      {{ form.days_to_med }}
                  </div>
                  <div>
                      {{ form.patient_type.label }}
                      {{ form.patient_type }}
                  </div>
                  <h1 id="health_conditions">Health Conditions:</h1>
                  <div>
                      {{ form.pneumonia.label }}
                      {{ form.pneumonia }}
                  </div>
                  <div>
                      {{ form.pregnancy.label }}
                      {{ form.pregnancy }}
                  </div>
                  <div>
                      {{ form.diabetes.label }}
                      {{ form.diabetes }}
                  </div>
                  <div>
                      {{ form.copd.label }}
                      {{ form.copd }}
                  </div>
                  <div>
                      {{ form.asthma.label }}
                      {{ form.asthma }}
                  </div>
                  <div>
                      {{ form.inmsupr.label }}
                      {{ form.inmsupr }}
                  </div>
                  <div>
                      {{ form.hypertension.label }}
                      {{ form.hypertension }}
                  </div>
                  <div>
                      {{ form.other_disease.label }}
                      {{ form.other_disease }}
                  </div>
                  <div>
                      {{ form.cardiovascular.label }}
                      {{ form.cardiovascular }}
                  </div>
                  <div>
                      {{ form.obesity.label }}
                      {{ form.obesity }}
                  </div>
                  <div>
                      {{ form.renal_chronic.label }}
                      {{ form.renal_chronic }}
                  </div>
                  <div>
                      {{ form.tobacco.label }}
                      {{ form.tobacco }}
                  </div>
                      {{ form.submit }}
                </div>

              </div>

              <div id="results_side">
                <div id="results">
                  <div id="icu_result">
                    <h3>Probability of ICU:</h3>
                    {{prediction_icu}}
                  </div>
                  <div id="death_result">
                      <h1>Probability of Lethality:</h1>
                      {{prediction_lethal}}
                  </div>
                </div>
                <div id="extra_info">
                  <p id="extra_info_header">Are these results accurate?</p>
                </div>
              </div> 





          </div>
      </div>


    </form>
    {% endblock %}

  </div>
</body>

</html>
